body {
		background: #FFDC00;
}

h1 {
    text-align: center;
}

h2 {
    color: navy;
		text-align: center;
}

.form {
 text-align: center;
}

input[type=text] {
	width: 30%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: #FFFFF;
	color: black;
}

#header {
	background-size: cover;
	background-image: url("../../images/homer.jpg");
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	padding: 7.5em 0 2em 0;
	cursor: default;
	height: 600px;
	width: 100%;
}


.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
